
h2{
    font-size: 40px;
    color: crimson;
    text-align: center;
    margin-top: 100px;
}
p{
    text-align: center;
    font-size: 20px;
}
.container{
    display: flex;
    justify-content: center; 
}
img{
    height: 150px;
}