
h2{
    font-size: 40px;
    color: crimson;
    text-align: center;
    margin-top: 100px;
}
p{
    text-align: center;
    font-size: 20px;
}
.container{
    display: flex;
    justify-content: center; 
}
img{
    height: 150px;
}
button {
    background-color: #007bff; 
    color: white;
    border: none; 
    padding: 10px 20px; 
    font-size: 16px;
    border-radius: 5px; 
    cursor: pointer;
  }